* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    ---marrom: #413019;
    ---marromClaro: #6A553A;
    ---begi: #95826a;
    ---cinza: #bfb5a8;
    ---creme: #ead1b0;
}


@font-face {
    font-family: Recursive;
    src: url(./static/Recursive-SemiBold.ttf);
}


body {
    background-color: var(--fundo-site);
}

/* HEADER */
header {
    width: 100;
}

header>div.container-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-flex {
    width: 85%;
    max-width:1440px;
    margin:0 auto;
}

.logo {
     display: flex;
  flex-direction: column;
  width: 650px;
  padding: 16px;
  border-radius: 12px;
  margin:100px;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.links a {
    font-size: 25px;
    color: var(---creme);
    text-decoration: none;
}

.links a:hover {
    color: var(---creme);
    border-bottom: 1px solid var(---cinza);
}


#icone-barras,
#icone-x,
#menu-botao {
    display: none;
}


.fundo {
    height: 120vh;
    width: 100%;
    background-image: url(./foto\ 01.jpg);
    background-repeat: no-repeat;
    background-position: 0 -10px;
    background-size: cover;
    display: flex;
    align-items: center;

}

.img{
    display: flex;
    justify-content:center;
    margin-left:450px ;
align-items: center;

}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto{
position: absolute;
  top: 50%;      /* posição vertical */
  left: 50%;     /* posição horizontal */
  transform: translate(-50%, -50%);
  color: white;   /* cor do texto */
  font-size: 20px;
  font-weight: bold;
}

.conteudo-sobre{
    display: flex;
}